@using ContratosToyyoda.Data;
@using ContratosToyyoda.Data.ViewModels;
@using System.IO;
@model PaisVM

@{
    ViewData["Title"] = "Agregar nuevo pais";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Agregar nuevo pais</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="fileInput" class="control-label"></label>
                        <input asp-for="fileInput" class="form-control" />
                        <span asp-validation-for="fileInput" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="pais" class="control-label"></label>
                        <input asp-for="pais" class="form-control" />
                        <span asp-validation-for="pais" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="region" class="control-label"></label>
                        <input asp-for="region"  class="form-control" />
                        <span asp-validation-for="region" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="direccion" class="control-label"></label>
                        <input asp-for="direccion" class="form-control" />
                        <span asp-validation-for="direccion" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                      
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        <input type="submit" value="Crear" class="btn btn-outline-success float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

