﻿<div class="row" style="color: white;">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>El archivo se subio exitosamente</h2>
        <p>La plantilla ahora esta disponible para imprimir contratos</p>
        <hr />
        <p>Gracias</p>
    </div>
</div>