
@{
    ViewData["Title"] = "Plantillas disponibles";
}

<div class="row" style="color: white;">
    <div class="col-md-8 offset-md-2">
        <h1>Archivos disponibles:</h1>
        <table class="table" style="color: white;>
            <thead>
                <tr class="text-center">
                    <th>Nombre de la plantilla</th>
                           <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                        <tr>
                            <td class="align-middle">
                               Temporal
                            </td>
                            <td class="align-middle">
                        <a class="btn btn-danger text-white" asp-action="DTemporal"><i class="bi bi-arrow-down-circle"></i>Descargar </a>
                            </td>

                        </tr>
                <tr>
                    <td class="align-middle">
                        Permanente
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger text-white" asp-action="DPermanente"><i class="bi bi-arrow-down-circle"></i></i>Descargar </a>
                    </td>

                </tr>


            </tbody>

        </table>

    </div>


</div>
<div style="position: fixed; right: 25px; bottom: 75px;" class="row">
    <div tyle=margin-right: 10px class="col-md-12 text-center">
        <button type="button" class="btn btn-info"><a style=" color: black" asp-controller=Plantillas asp-action="Plantilla">Nueva Plantilla</a></button>
    </div>
</div>


