
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Filtros</h4>
        </p>
        <div class="row">
        <!--por pasis -->
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 200px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Por Pais

                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="align-middle">
                            <form asp-action="PorPais">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <select class="form-control" id="paisesDropdown" name="paisSeleccionado">
                                                <option value="">Seleccione un país</option>
                                                @foreach (var pais in ViewBag.Paises)
                                                {
                                                    <option value="@pais.Value">@pais.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Buscar" class="btn btn-outline-success float-right" />
                                                                    </div>
                            </form>
                            
                    </div>
                </div>

            </div>
        </div>
        <!--año-->
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 200px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Por Año

                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="align-middle">
                        <a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">
                            <img src="https://cdn.pixabay.com/photo/2014/04/03/11/56/avatar-312603_640.png" 100%" style="max-width: 150px">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--nombre -->
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 200px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Por Nombre

                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="align-middle">
                        <a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">
                            <img src="https://cdn.pixabay.com/photo/2014/04/03/11/56/avatar-312603_640.png" 100%" style="max-width: 150px">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("paisesDropdown").addEventListener("change", function () {
        document.getElementById("IdSelected").value = this.value;
    });
</script>