@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="row justify-content-center">
        <!-- Contratos -->
        <div class="col-md-4 col-xs-6 mb-3">
            <div class="card" style="max-width: 300px">
                <div class="card-header bg-info text-white">
                    <h5 class="card-title">Contratos</h5>
                </div>
                <div class="card-body">
                    <a class="nav-link text-dark"
                       asp-area=""
                       asp-controller="Contratos"
                       asp-action="Index">
                        <img src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884_640.png"
                             class="img-fluid"
                             alt="Contratos"
                             style="max-width: 150px" />
                    </a>
                </div>
            </div>
        </div>

        @if (User.IsInRole("admin"))
        {
            <!-- Usuarios -->
            <div class="col-md-4 col-xs-6 mb-3">
                <div class="card" style="max-width: 300px">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title">Usuarios</h5>
                    </div>
                    <div class="card-body">
                        <a class="nav-link text-dark"
                       asp-controller="Usuarios"
                       asp-action="Index">
                            <img src="https://cdn.pixabay.com/photo/2014/04/03/11/56/avatar-312603_640.png"
                                 class="img-fluid"
                                 alt="Usuarios"
                                 style="max-width: 150px" />
                        </a>
                    </div>
                </div>
            </div>
        }

        <!-- Paises -->
        <div class="col-md-4 col-xs-6 mb-3">
            <div class="card" style="max-width: 300px">
                <div class="card-header bg-info text-white">
                    <h5 class="card-title">Países</h5>
                </div>
                <div class="card-body">
                    <a class="nav-link text-dark"
                       asp-controller="Paises"
                       asp-action="Index">
                        <img src="https://media.istockphoto.com/id/1405046688/es/foto/globo-terr%C3%A1queo-f%C3%ADsico-am%C3%A9rica-del-norte-y-del-sur.jpg?s=612x612&w=is&k=20&c=62zc6HwATNRA1Hxtcv0VQw4ftwgIZ8QA5JVmJ9KepZw="
                             class="img-fluid"
                             alt="Países"
                             style="max-width: 150px" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

